extends layout

block content
  h1= title
  if errors
    ul
    div.error
      for error in errors
        li.warning!= error.msg
        
  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of item' name='name' required='true' value=(undefined===item ? '' : item.name) )

    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='description' name='description' rows='3' required='true') #{undefined===item ? '' : item.description}
    div.form-group
      label(for='price') Price:
      input#price.form-control(type='float`', placeholder='Enter number' name='price' value=(undefined===item ? '' : item.price) required='true') 
    div.form-group
      label(for='stock') Stock:
      input#stock.form-control(type='number', placeholder='Enter number' name='stock' value=(undefined===item ? '' : item.stock) required='true') 
    div.form-group
       label Category:
       div
         for cat in categories
           div.cat
             input.checkbox-input(type='radio', name='category', id=cat._id, value=cat._id, checked=cat.checked )
             label(for=cat._id) #{cat.name}
    button.btn.btn-primary(type='submit') Submit

